body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 15px;
    padding: 15px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 5%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.box {
    width: 120px;
    height: 120px;
    background-color: #3498db;
    color: #fff;
    text-align: center;
    line-height: 100px;
    font-size: 24px;
    margin: 15px;
    float: left;
    padding: 3%;
}

.clear {
    clear: both;
}
